body{
    font-family: helvetica, garamond;
    cursor: default;
}

#bottomButton, #topButton{
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: #D7E0E0;
    cursor: pointer;
}

#topButton{
    top: 0;
}

#bottomButton{
    bottom: 0;
}

.checkbox{
    cursor:pointer;
}

#topButton *{
    display: inline-block;
}

#fullpage{
    position: absolute;
    top:0;
}

#infoButton{
    position:absolute;
    left:0px;
    margin-left:10px;
    cursor: pointer;    
}

.languageButton, #locationButton, #tooltipBackButton{
    padding:10px;
    border: 1px solid #C4C4C7;
    margin:10px;
    cursor: pointer;
}

.section{
    text-align:center;
    height: 100%;
}

#map{
    height:100%;
    width:100%;
    top:0;
}

.translationSmallFont{
    margin-left:10px;
    margin-right:10px;
    color: #3F3F40;
}

#infoWindow{
    visibility: hidden;
    position: absolute;
}