%section{dir: "lfr"}
  %h1 Choose your language
  %ul.language-options-list
    %li= link_to "العربية", previous_path_with_locale(@previous_path, :ar)
    %li= link_to "English", previous_path_with_locale(@previous_path, :en)
