html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: $small-spacing;
}

.site-header {
  margin-bottom: $base-spacing;
}

.translation-link {
  @extend [type='button'];
  padding-right: $small-spacing;
  padding-left: $small-spacing;
  position: fixed;
  right: $small-spacing;
  bottom: $small-spacing;
  left: $small-spacing;
}
