html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: $small-spacing $small-spacing $base-spacing * 3;
}

.site-header {
  margin-bottom: $base-spacing;
}

.translation-link {
  background-color: $light-gray;
  border-radius: 0;
  padding: $small-spacing / 2 $small-spacing;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}
