ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

.language-options-list {
  a {
    display: block;
    font-size: modular-scale(1);
    border-top: $base-border;
    padding: $small-spacing 0;
  }

  .language-option-english-label {
    font-size: modular-scale(0);
    margin-left: modular-scale(-3);
    color: $medium-gray;
  }
}

.doctor-item {
  border-bottom: $base-border;
  padding-top: $small-spacing;

  header {
    display: flex;
    justify-content: space-between;
  }

  .doctor-distance {
    width: 6em;

    *[dir="ltr"] & {
      text-align: right;
    }

    *[dir="rtl"] & {
      text-align: left;
    }
  }

  .doctor-location-block {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    p {
      flex: 1;

      *[dir="ltr"] & {
        margin-right: $base-spacing;
      }

      *[dir="rtl"] & {
        margin-left: $base-spacing;
      }
    }
  }

  .doctor-link-map {
    display: inline-block;
    text-align: right;
    white-space: nowrap;
    font-size: modular-scale(-1);
    margin-bottom: $base-spacing;
    padding: $small-spacing / 2;
    background-color: $yellow;
    color: #fff;

    &:hover,
    &:focus {
      background-color: darken($yellow, 4%);
    }

    *[dir="ltr"] & {
      text-align: right;
    }

    *[dir="rtl"] & {
      text-align: left;
    }
  }
}
