- # TODO: This needs to be checked
%p
  قدم جيسون توماس النموذج الأول من هذا الموقع في Hackfest اللاجئين في سيدني، أستراليا في عام 2016.

%p
  = link_to "برنامج تشغيل هذا الموقع", "https://github.com/JasonThomasData/DocLink/", title: "عرض التعليمات البرمجية هذا المشروع على جيثب"
  هو الحرة والمفتوحة المصدر.
