%h1 About this project

%p
  Jason Thomas made the first prototype of this website
  at the Refugee Hackfest in Sydney, Australia in 2016.
%p
  = link_to "The software running this website", "https://github.com/JasonThomasData/DocLink/", title: "View this project’s code on GitHub"
  is free and open source.
