---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=300%20King%20St,%20Newtown,%20NSW&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "300",
                       "short_name" : "300",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "King Street",
                       "short_name" : "King St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Newtown",
                       "short_name" : "Newtown",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "New South Wales",
                       "short_name" : "NSW",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Australia",
                       "short_name" : "AU",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "2042",
                       "short_name" : "2042",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "300 King St, Newtown NSW 2042, Australia",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : -33.8967446,
                          "lng" : 151.1795791
                       },
                       "southwest" : {
                          "lat" : -33.8967543,
                          "lng" : 151.1795644
                       }
                    },
                    "location" : {
                       "lat" : -33.8967543,
                       "lng" : 151.1795791
                    },
                    "location_type" : "RANGE_INTERPOLATED",
                    "viewport" : {
                       "northeast" : {
                          "lat" : -33.89540046970851,
                          "lng" : 151.1809207302915
                       },
                       "southwest" : {
                          "lat" : -33.8980984302915,
                          "lng" : 151.1782227697085
                       }
                    }
                 },
                 "place_id" : "EigzMDAgS2luZyBTdCwgTmV3dG93biBOU1cgMjA0MiwgQXVzdHJhbGlh",
                 "types" : [ "street_address" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 17 Jan 2016 13:03:25 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=7%20Park%20Ave,%20Blackheath,%20NSw&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
         [...]
