%header.site-header
  = render "doctors/doctor_search_form"
%main.main-content
  %ul.doctors-list
    = render @doctors
  = yield
= link_to "Translate this site", language_path, class: "translation-link"
