!!! 5
%html.no-js{lang: I18n.locale}
  = render "shared/html_head"
  %body
    = yield
    %nav.footer-navigation
      = link_to "Translate this site", translate_path
      = link_to "About this project", about_path
