!!! 5
%html.no-js{lang: I18n.locale}
  = render "shared/html_head"
  %body
    = yield
    %nav.footer-navigation
      = render "shared/translate_link"
      = link_to "About this project", about_path
